body{
    background-image:url(st.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    
}
.container{
    margin-left:38%;
    margin-top:3%;
}
h1{
    margin-top:13%;
    font-family: 'East Sea Dokdo', cursive;
    color: brown;
}